main {
    margin-left: 40px;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

h1 {
    font-weight: 700;
    text-align: center;
    padding: 20px;
    color: #7B1E7A;
}

h2 {
    margin-left: 10px;
    font-weight: 700;
    color: #7B1E7A;
}

p {
    margin-left: 25px;
}

button{
    background-color: #7B1E7A;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    color: #fff;
    padding: 12px 20px;
    cursor: pointer;
    transition: 0.3s;
}

.botao {
    text-align: right;
    margin: 20px;
}

button:hover {
    background-color: #50004e;
}

footer {
    font-family: "Roboto Mono", monospace;
    background-color: #f0f0f0;
    padding: 2px;
    border-top: #ccc solid 1px;
    color: #333;
    font-size: 14px;
}

footer a {
    color: #222222;
    text-decoration: none;
    margin: 0 5px;
    transition: color 0.3s ease;
}


footer a:hover {
    color: #7B1E7A;
}