body {
    color: #A5A1E8;
    margin-left: 40px;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

h1 {
    text-align: center;
    padding: 20px;
    font-family: "Libertinus Keyboard", system-ui;
    font-weight: 400;
    font-style: normal;
}

h2 {
    margin-left: 10px;
    font-weight: 700;
    color: #B1EBFF;
}

p {
    margin-left: 25px;
}